[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "binr"]
	path = binr
	url = https://github.com/jabiru/binr
	shallow = true
	registered = true
[submodule "csvread"]
	path = csvread
	url = https://github.com/jabiru/csvread
	shallow = true
	registered = true
